.loadingPage {
  text-align: center;
  max-height: 100vh;
}

.loadingPage-logo {
  height: 40vh;
  pointer-events: none; 
  margin-bottom: 0;
  padding-bottom: 0;
}

.loadingPage-header {
  background-color: #363d4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loadingPage-header > h2 {
  margin-top: 0;
  padding-top: 0;
}

.loadingPage-link {
  color: #61dafb;
}

.loader {
  background-color: #00000050;
  height: 2em;
  width: 15em;
  overflow: hidden;
  display: flex;
  justify-content: left;
  border-radius: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.loader > div {
  background-color: #00000080;
  animation: loader 5s linear infinite;
  -webkit-animation: loader 5s linear infinite;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

@keyframes loader {
  0% {
    margin-left: 110%;
  }
  25% {
    margin-left: 0%;  
  }
  50% {
    margin-left: -110%;  
  }
  75% {
    margin-left: 0%;
  }
  100% {
    margin-left: 110%;
  }
}